{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "ignore": [
    "node_modules",
    "dist"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ],
  "sourceMaps": "inline"
}
